################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KriptoAlgoritması/obj/Debug/netcoreapp3.1/KriptoAlgoritmasi.csprojAssemblyReference.cache
